.posts_secondary {
    display: grid;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(247, 247, 247);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* max-height: 80%; */
    border-bottom: 2px solid black;
    border-radius: 4px;
}
.post_p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px 0;
    grid-row: 1;
}
.posts_img{
    max-width: 25%;
    margin-bottom: 15px;

}
.posts_date{
    display: flex;
}