.posts_secondary {
    display: grid;
    padding: 20px;
    margin: 30px 0;
    background-color: rgb(247, 247, 247);
    grid-template-columns: .1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr .5fr .5fr;
    height: 300px;
    border-bottom: 4px solid rgb(216, 198, 120);
    border-right: 4px solid rgb(216, 198, 120);
    border-radius: 4px;
    transition: 2s;
}
.posts_img{
    /* min-width: 50%;
    min-height: 50%; */
    max-width: 60%;
    max-height: 100%;
    display: flex;
    margin: 0 auto;
    grid-row: 1/ span 2;
    grid-column: 4/ span 2;
    border-bottom: 4px solid rgb(224, 224, 224);
    border-right: 4px solid rgb(224, 224, 224);
    border-radius: 4px;
    transition: 2000ms;

}
.posts_img:hover {
    max-height: 300px;
    max-width: 300px;
}
.post_p {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 5px 40px 5px;
    grid-row: 3 / span 2;
    grid-column: 2 / span 3;
    flex-direction: row;
    font-size: 15px;
}
.posts_date{
    display: block;
    grid-column: 1/ span 2;
    grid-row: 1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    border-bottom: 4px solid rgb(224, 224, 224);
    border-right: 4px solid rgb(224, 224, 224);
    width: 50%;
    border-radius: 4px;

}