.posts_secondary {
    display: grid;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(247, 247, 247);
    grid-template-columns: .1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr .5fr .5fr;
    max-height: 200px;
    border-bottom: 4px solid black;
    border-radius: 4px;
}
.posts_img{
    /* min-width: 50%;
    min-height: 50%; */
    max-width: 60%;
    max-height: 100%;
    display: flex;
    margin: 0 auto;
    grid-row: 1/ span 2;
    grid-column: 3;
    
}
.post_p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px 0;
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
    flex-direction: row;
}
.posts_date{
    display: inline;
    grid-column: 1;
    grid-row: 1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}