.home_main {
	background-color: rgb(247, 232, 149);
	margin: 0 auto;
	display: block;
	border-radius: 2px;
	border-left: 4px solid rgb(189, 173, 105);
	border-top: 4px solid rgb(189, 173, 105);
	border-bottom: 4px solid rgb(214, 197, 121);
}
.postDetails_container {
	/* border-bottom: 4px solid rgb(112, 112, 112); */
	margin: 10px 60px;
	border-radius: 2px;
}
.posts_container {
	margin: 10px;
	padding: 10px;
}
input[type='text'] {
	border: 0;
}
input:focus {
	outline: none;
}

@media (max-width: 500px) {
	.home_main {
		border-left: 0;
		border-top: 0;
	}
	.posts_container {
		display: flex;
	}
}
