.home_container {
	display: grid;
	grid-template-rows: 0.01fr 1fr 0.01fr;
	grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
	margin-bottom: 0;
	padding-bottom: 0;
}

nav {
	grid-row: 1 / span 1;
	grid-column: 1 / span 4;
	width: 100%;
}

body {
	grid-row: 2 / span 1;
	grid-column: 2 / span 3;
	margin: 0 auto;
	/* border: 2px solid red; */
}

footer {
	grid-row: 3 / span 1;
	grid-column: 2 / span 3;
	background-color: rgb(151, 151, 151);
	border-radius: 0 0 0 2px;
	display: flex;
	justify-content: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 500;
	height: 15px;
	margin-left: 15px;
}

@media (max-width: 500px) {
	.home_container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.1fr 1fr .1fr;
		margin-bottom: 0;
		padding: 0;
		height: 0;
	}

	footer {
		margin: 0 auto;
		grid-template-rows: 3;
		background-color: transparent;
	}

	* {
		margin-bottom: 0;
		padding: 0%;
	}

	nav {
		margin-bottom: 0;
	}
}